button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: var(--rounded-full);
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover,
  &:is(:disabled) {
    background: var(--primary-color-hover);
    transform: scale(1.02);
  }

  &:active {
    filter: brightness(125%);
  }

  &:disabled {
    background: #dadada;
    color: var(--default-text);
    cursor: not-allowed;
  }
}
